header {
  width: 1052px;
  margin: 88px 24px 90px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
}

.menu {
  width: 391.48px;
  margin-left: 27px;
  margin-top: 6px;
  font-size: 18px;
  position: relative;
  align-items: center;
  display: inline-block;
}

.menu-table {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: circle;
}

.header--list-item-no-bullit {
  list-style-type: none;
}

.header--links-item-no-bullit {
  border: none;
}

.menu-space {
  margin-left: 7px;
  position: relative;
}

.img-logo-black {
  max-width: 148px;
  height: 105px;
  margin-top: 4px;
  margin-right: 159px;
  position: relative;
  }

address {
  width: 250px;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-right: 17px;
  position: relative;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  margin-bottom: 177px;
  width: 1100px;
  min-height: 757px;
  position: relative;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  color: #fff;
  text-transform:uppercase;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

 .title {
  padding-top: 115px;
  display: grid;
  row-gap: 7px;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;
  z-index: 2;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-word-left {
  position: relative;
  display: flex;
  justify-content: start;
}

 .letter-spacing {
  letter-spacing: 0.6em;
}

.title-word-center {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 6px;
}

.title-word-right {
  position: relative;
  display: flex;
  justify-content: flex-start;
  justify-self: end;
  max-width: 417px;
}

 .subline {
  display: flex;
  position: relative;
  justify-content:start;
  align-items: end;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  color: #fff;
  min-width: 673px;
  padding-left: 28px;
  padding-bottom: 11px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  font-style: normal;
  word-spacing: 0.9em;
  z-index: 2;
}


button {
  position: relative;
  min-width: 254px;
  min-height: 51px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  color: #fff;
  text-align: center;
  font-style: normal;
  z-index: 2;
  }

  .overlay {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: black;
  opacity: 0.6;
  }

.lots {
  width: 1052px;
  justify-content: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 180px 24px 73px;
  gap: 0px;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  position: static;
}

.lots-title {
  min-width: 121px;
  padding-left: 40px;
  padding-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  color: black;
  text-transform: uppercase;
  position: static;
}

article {
  width: 334px;
  min-height: 563px;
}

.lots-table {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  row-gap: 25px;
  flex-wrap: wrap;
  width: 1052px;
  list-style: none;
  align-items: flex-start;
  align-content: flex-start;
}

.lots-card-film {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: url(/images/card-lot-01.jpg) no-repeat center center;
  background-size: cover;
  z-index: 0;
  position: relative;
} 

.lots-title-card {
  max-width: 254px;
  margin: 51px 40px 0;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  position: relative;
  z-index: 2;
} 

.lots-text-card {
  max-width: 254px;
  margin: 0 40px 48px;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  position: relative;
  color: white;
  z-index: 2;
 }

.lots-card-book {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  background: url(/images/card-lot-02.jpg) no-repeat center center;
  background-size: cover;
}

.lots-card-picture {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  background: url(/images/card-lot-03.jpg) no-repeat center center;
  background-size: cover;
}

.lots-more {
  width: 192px;
  margin-top: 30px;
  margin-left: 39px;
  position: relative;
  font-size: 20px;
  line-height: 23.48px;
  text-align: left;
}

.about {
  width: 1052px;
  margin: 144px 24px 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 35px;
  padding-left: 47px;
  gap: 72px;
}

.about-header-logo {
  position: relative;
  max-width: max-content;
  max-height: max-content;
  border-radius: 50%;
  background-color: black;
  padding: 64px 45.52px 57px 46.48px;
}
        
.img-logo-white {
  max-width: 148px;
}

.about-header-title {
  width: 292px;
  padding-top: 12px;
  font-family: 'Raleway',  'Arial', 'Helvetica', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}

.about-main {
  display: flex;
  justify-content: end;
  padding-top: 1px;
}

.about-description {
  max-width: 693px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

footer {
  width: 1000px;
  margin: 182px 50px 88px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer-menu {
  max-width: 149px;
  position: relative;
  display: inline-block;
  margin-right: 24px;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
  list-style-type: none;
}

.footer-socials {
  width: 240px;
  position: relative;
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer-img {
  max-width: 48px;
  height: auto;
}